* {
margin: 0;
padding: 0;

user-select: none;
}

:root {
  --txt-color: black;
  --dark-text-color: white;

  --bg-color: #fff;
  --dark-bg-color: rgb(26, 25, 61);
}

body {
  
}

.container {
  height: 100vh;

}

.container.light-mode {
  transition: 0.15s;
  color: var(--txt-color);
  background-color: var(--bg-color);
  background-image: linear-gradient(-90deg, rgb(255, 255, 255), rgb(162, 192, 255));
  
}

.container.dark-mode {
  transition: 0.15s;
  color: var(--dark-text-color);
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(-90deg, rgb(12, 12, 19), rgb(8, 16, 34));
}

.app-container {
  margin: 0px auto;
  max-width: 480px;
  
}

.theme-btn {
  position: absolute;
  left: 0;
}

.input-wrapper {
  display: flex;
  
  padding: 10vh 0;
}

#input {
  flex-grow: 4;
  
}

.todos-wrapper.light-mode {
  min-height: 7vh;
  margin-bottom: 3vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;

  cursor: pointer;
  transition: 0.1s;
}

.todos-wrapper, .light-mode:hover { 
  background-color: var(--bg-color);
  transition: 0.1s;
} 

.todos-wrapper.dark-mode {
  min-height: 7vh;
  margin-bottom: 3vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--dark-bg-color);
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;

  cursor: pointer;
  transition: 0.1s;
}

.todos-wrapper, .dark-mode:hover { 
background-color: rgb(49, 47, 102);
  transition: 0.1s;
} 

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-text {
  flex-grow: 4;
  text-align: center;
  line-height: 7vh;
}

.btn {
  border: none; 
  cursor: pointer;
  
  background-color: rgba(255, 255, 255, 0);
}

#check, #add-btn {
  color:rgb(60, 255, 60);
}

#add-btn {
  margin: 0 2vh;
}

.btn:focus {
  outline: 0;
}

#check {
min-width: 10vh;
display: flex;
  justify-content: center;
  align-items: center;
}

#delete-btn {
  min-width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}