* {
margin: 0px;
padding: 0vh;
border: 0px solid black;

user-select: none;
}

:root {
  --light-txt-color: black;
  --dark-text-color: white;

  --light-bg-color: #fff;
  --dark-bg-color: rgb(30, 30, 60);
}

.container {
  height: 100vh;
  overflow: auto;
}

.container.light-mode {
  color: var(--light-txt-color);
  background-image: linear-gradient(90deg, rgb(160, 190, 200), rgb(255, 255, 255));
}

.container.dark-mode {
  color: var(--dark-text-color);
  background-image: linear-gradient(-90deg, rgb(12, 12, 19), rgb(8, 16, 34));
}

.app-container {
  margin: 0px auto;
  max-width: 480px;
}

.btn {
  border: none; 
  cursor: pointer;
  background-color: transparent;
  outline: 0;
}

.theme-btn {
  position: absolute;
  top: 3vh;
  left: 3vh;  
}

.theme-btn.light-mode {
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.8);
}

.theme-btn.dark-mode {
  transition: 0.5s;
  color: rgb(241, 255, 113);
}

.input-wrapper {
  display: flex;
  padding: 10vh 0;
}

#input {
  flex-grow: 4;
  padding: 1vh;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
}

.todos-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: 2vh;
  padding: 1vh;

  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
}

.todos-wrapper.light-mode {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 1s;
}

.todos-wrapper.light-mode:hover { 
  background-color: var(--light-bg-color);
  transition: 0.1s;
} 

.todos-wrapper.dark-mode {  
  background-color: var(--dark-bg-color);
  transition: 1s;
}

.todos-wrapper.dark-mode:hover { 
  background-color: rgb(50, 50, 100);
  transition: 0.1s;
} 

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-text {
  padding: 1vh;
  flex-grow: 4;
  text-align: center;
}

.todo-text:hover {
  text-decoration: line-through;
}

#check, #add-btn {
  color:rgba(50, 255, 50, 0.678);
}

#add-btn {
  margin: 0 2vh;
}

#check {
  display: flex;
  align-items: center;

  min-width: 6vh;

  transition: 0.1s;
}

#delete-btn {
  display: flex;
  align-items: center;

  min-width: 6vh;

  transition: 0.1s;
  
  color: red;
}

.fa-plus-circle {
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.fa-check-circle {
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
}

.fa-window-close {
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
}